SERVER_PORT=3001
SPRING_PROFILES_ACTIVE=development

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/gestion_admin_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=<contraseña>

SPRING_GRAPHQL_GRAPHIQL_ENABLED=true

BLOCKCHAIN_SERVICE_URL=http://localhost:3002/api

AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=<clave>
AWS_SECRET_ACCESS_KEY=<secreto>
AWS_S3_BUCKET_NAME=<nombre-bucket>

SEPOLIA_RPC_URL=
WALLET_PRIVATE_KEY=
WALLET_ADDRESS=
CHAIN_ID=
ETHERSCAN_API_KEY=
